:root {
	--black: #00152e;
	--white: white;
	--gray: whitesmoke;
	--green: #1eb76e;
	--sea-green: #228e4c;
	--royal-blue: #005ae1;
	--orange: #fdb242;
	--salmon: #ff5d5d;
	--red-2: #e70000;
	--white-30: #ffffff4d;
	--dodger-blue: #0075ff;
	--medium-purple: #9b82ff;
	--black-2: #192c42;
	--mobile-color: #f478ac;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: "Segoe UI", Arial, sans-serif;
	line-height: 1.4;
	color: #1f1f1f;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.form-container {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}
.input-text {
	font-size: 14px;
	padding: 12px 15px;
	border: 1px solid #cecece;
	outline: none;
	font-weight: 400;
	width: 80%;
}
.input-text::placeholder {
	color: #999;
}
.input-submit {
	border: none;
	background: var(--sea-green);
	padding: 12px 15px;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: 600;
	outline: none;
	width: 80%;
}

.todo-item {
	list-style-type: none;
	padding: 17px 0px;
	border-bottom: 1px solid #eaeaea;
}
.todo-item input {
	margin-right: 15px;
}
.todo-item button {
	background: #d35e0f;
	color: #fff;
	border: 1px solid #d35e0f;
	padding: 3px 7px;
	cursor: pointer;
	float: right;
	outline: none;
}

/* Add to subscript challeng */

.section-form {
	background-color: var(--green);
	border-radius: 0 0 20px 20px;
	padding: 20px 20px 50px;
}
.select-board {
	font-size: 14px;
	padding: 12px 15px;
	border: 1px solid #cecece;
	outline: none;
	font-weight: 400;
	width: 80%;
}
.boards {
	width: 100%;
	overflow-x: auto;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: nowrap;
	padding: 50px 20px 50px 20px;
	gap: 15px;
}

.board {
	max-width: 350px;
	min-width: 250px;
	padding: 20px;
	border-radius: 20px;
	max-height: 400px;
	overflow-y: auto;

	-webkit-box-shadow: 0px 5px 20px -10px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 5px 20px -10px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 5px 20px -10px rgba(0, 0, 0, 0.75);
}
